<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tanyasanjay.giveandtake">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA"> </uses-permission>

    <permission android:name="com.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--
     The application's compatibility with one or more versions of the Android
     platform.

     android:minSdkVersion = application's required minimum API level to run
     android:targetSdkVersion = application's targeted API level
 -->
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="22" />

    <uses-feature android:glEsVersion="0x00020000" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Nav"
            android:label="@string/title_activity_nav"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Seller"
            android:label="@string/title_activity_seller"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Sellerpics"
            android:label="@string/title_activity_sellerpics"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".markerDescription" />

        <activity android:name=".BuyActivity"></activity>

        <activity android:name=".MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAy6odQ0rfZoQ_4fzesDsI4pCWYLThUHcA" />

        <activity
            android:name=".UploadActivity"
            android:label="@string/title_activity_upload"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name=".UserDefinedTargets.UserDefinedTargets"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".VideoPlayback.ui.ActivityList.ActivitySplashScreen"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:noHistory="true"
            >
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter -->
        </activity>

        <activity
            android:name=".VideoPlayback.ui.ActivityList.AboutScreen"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".VideoPlayback.ui.ActivityList.ActivityLauncher"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            >
        </activity>



        <activity
            android:name=".VideoPlayback.app.VideoPlayback.VideoPlayback"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:theme="@style/SampleAppsTheme"
            android:launchMode="singleTask"
            />

        <!--    This is the activity that holds the full screen media player.-->

        <activity android:label="@string/app_name1"
            android:name=".VideoPlayback.app.VideoPlayback.FullscreenPlayback"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>

    </application>

</manifest>
